<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/public/css/pico.min.css">
    <title>Hello {{ name }}!</title>
</head>
<body>
<main class="container">
    <dialog open>
        <article>
            <header>
                <a href="/" aria-label="Close" rel="prev"></a>
                <p>
                    <strong>🗓️ {{ message }}!</strong>
                </p>
            </header>
            <p>
                Hello {{ name }}
            </p>
        </article>
    </dialog>
</main>
</body>
</html>